!.keep
*.DS_Store
*.swo
*.swp
/.bundle
/.env*
.env
!/.env.sample
/.foreman
/coverage/*
/db/*.sqlite3
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/spec/example_app/log/*
/spec/example_app/tmp/*
!/spec/example_app/log/.keep
!/spec/example_app/tmp/.keep
/spec/example_app/public/system
/spec/example_app/public/assets
/tags
pkg
*.ipr
*.iws
*.iml
/.idea
.byebug_history
gemfiles/.bundle/
.yardoc
/doc
/docs
/storage

*.swp
vendor/bundle
config/.ssh
/public/sitemap.xml.gz
/public/sitemap.xml
/public/packs
/public/assets
/public/packs-test
.vscode

# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity

/config/master.key

/public/packs
/public/uploads
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity

google_client_secret.json
credentials.json
credentials.yaml

lib/csv/*

/config/credentials/development.key

/config/credentials/production.key
.cache

*.tfstate
*.zip
*.tfstate.backup
*.tfvars
*.tfplan
*.terraformrc
.terraform/
